*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-content: center;
  }
.spel_container{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    flex-direction: column;
    width: 500px;
    padding: 30px;
    margin-left: 37%;
}
.tag1{
    padding-bottom: 20px;
}
.player--inactiv{
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: gray;
    width: 400px;
    padding-left: 140px;
}
.player--active{
    display: flex;
    align-content: center;
    background-color: lightgray;
    width: 400px;
    flex-direction: column;
    padding-left: 140px;
}
.total-score, .current-score{
    padding-left: 50px;
}